* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.animation__inner {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset,
    -10px -10px 10px #ffffff inset;
}

.box {
  animation: box_change 1s cubic-bezier(0.16, 1, 0.3, 1) 1s forwards alternate;
}


@keyframes box_change {
  0% {
    box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc ,
      -10px -10px 10px #ffffff;
    border-radius: 20px;
  }

  25% {
    box-shadow: 4px 4px 4px #b8aaaa inset, 4px 4px 4px #b8aaaa inset , 0 0 0 #ccc,
      0 0 0 #fff;
    border-radius: 16px;
    
  }

  50% {
    height: 180px;
    width: 50px;
    box-shadow: 4px 4px 4px #b8aaaa inset,4px 4px 4px #b8aaaa inset , 0 0 0 #ccc,
    0 0 0 #fff;
    border-radius: 12px;
    transform: rotate(360deg);
  }

  100% {
    height: 180px;
    width: 320px;
    box-shadow: 2px 2px 2px 2px #ccc;
    border-radius: 8px;
    transform: rotate(360deg);
  }
}

.text {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  visibility: hidden;
  color: #746666;
  font-size: 28px;
  
}

.box .text{
  animation: text_look 1s cubic-bezier(0.16, 1, 0.3, 1) 2s forwards alternate;
}

@keyframes text_look {
  0% {
    visibility: visible;
    opacity: 0;
    transform: scale(0.1);
  }

  25%{
    visibility: visible;
    opacity: 0.1;
    transform: scale(0.2);
  }

  50%{
    visibility: visible;
    opacity: 0.6;
    transform: scale(1.4);
  }

  100%{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
}


span {
  position: absolute;
  left: 126px;
}

span{
  animation: smile 2s  3s ease-out backwards alternate;
}

@keyframes smile {
  0%{
    left: 126px;
  }

  25%{
    left: 132px;
  }

  35%{
    left: 132px;
  }

  50%{
    left: 132px;
    transform: rotate(0deg);
  }

  75%{
    left: 132px;
    transform: rotate(90deg);
    opacity: 0.6;
  }

  100%{
    left: 200px;
    transform: rotate(90deg);
    opacity: 0;
  }
}





